# actors 

actors/subtree-updater @Sladuca

 actors/bundler @luketchang @Sladuca
 actors/deposit-screener @Sladuca @luketchang
 actors/test-actor @Sladuca @luketchang

# SDKs

packages/core @Sladuca
packages/client @Sladuca

# other packages

packages/config @luketchang
packages/deploy @luketchang
packages/local-prover @Sladuca
packages/crypto-utils @Sladuca

# more than one codeowner => no codeowner
packages/e2e-tests @luketchang @Sladuca