node_modules/
yarn-error.log
**/tsconfig.tsbuildinfo
dist/
cache/
lib/

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# turbo logs
.turbo

# contract build artifacts
contract-artifacts

# circom build artifacts
.circom
.ptau
.setup
build
circuit-artifacts/**/*.*
!circuit-artifacts/*/*_js/*.wasm
!circuit-artifacts/*/*_cpp/*.zkey
!circuit-artifacts/*/*_cpp/*.json