{
  "openapi": "3.0.3",
  "info": {
    "title": "TRM Public API",
    "version": "v2",
    "description": "# Welcome to the TRM Labs API\n\nTRM Labs enables risk management and compliance for a global community of financial institutions, cryptocurrency businesses and government agencies. Using the TRM API, you can screen crypto addresses, crypto transactions, and monitor alerts to enable automated solutions and create custom workflows.\n\nTRM provides the following API endpoint categories to its customers:\n\n| Category                                                 | Description                                                                                                                                                                                                      |\n| -------------------------------------------------------- | ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| [**Transaction Monitoring**](#tag/Transfers)             | Transaction Monitoring enables organizations to continuously monitor on-chain transfers to detect suspicious activity that may be indicative of illegal activity such as money laundering or financial crime.    |\n| [**Wallet and Entity Screening**](#tag/Screening)        | Wallet and Entity screening enable organizations to receive near real-time intelligence about risk indicators associated with specific cryptocurrency addresses and groups of addresses.                         |\n| [**Alert Management**](/#tag/Alerts)                     | Alert Management allows users of the TRM API to obtain information on alerts triggered within a user's environment. Users can also edit the status and information associated with alerts in their organization. |\n| [**Rule Management**](/#tag/Rules)                       | Rules Management allows users of the TRM API to obtain details on single or multiple rules within a user's environment.                                                                                          |\n| [**Metadata and Informational**](/#tag/Supported-Assets) | TRM maintains informational APIs to allows customers to look up assets available to the Transaction Monitoring API.                                                                                              |\n",
    "contact": {
      "email": "contact@trmlabs.com"
    },
    "license": {
      "name": "Proprietary API",
      "url": "http://www.trmlabs.com"
    },
    "x-logo": {
      "url": "https://static-assets.trmlabs.com/redoc/trm_icon_logo.svg",
      "backgroundColor": "#FFFFFF",
      "altText": "TRM Labs",
      "href": "https://trmlabs.com/about"
    }
  },
  "servers": [
    {
      "url": "https://api.trmlabs.com",
      "description": "TRM Labs Public API"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "name": "Transfers",
      "description": "User-provided transfers submitted for monitoring."
    },
    {
      "name": "Alerts",
      "description": "Alerts generated by TRM based on the submitted transfers and the configured rules."
    },
    {
      "name": "Rules",
      "description": "User-configured rules which generate alerts based on transfer details."
    },
    {
      "name": "Screening",
      "description": "APIs for obtaining quick intelligence about addresses and entities. Users can submit up to five addresses to the Wallet Screening API at one time."
    },
    {
      "name": "Supported Assets",
      "description": "API for obtaining a full list of TRM's Supported Assets and Blockchains for Transaction Monitoring."
    },
    {
      "name": "Introduction and Overview",
      "description": "# Welcome to the TRM Labs API\n\nTRM Labs enables risk management and compliance for a global community of financial institutions, cryptocurrency businesses and government agencies. Using the TRM API, you can screen crypto addresses, crypto transactions, and monitor alerts to enable automated solutions and create custom workflows.\n\nTRM provides the following API endpoint categories to its customers:\n\n| Category                                                 | Description                                                                                                                                                                                                      |\n| -------------------------------------------------------- | ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| [**Transaction Monitoring**](#tag/Transfers)             | Transaction Monitoring enables organizations to continuously monitor on-chain transfers to detect suspicious activity that may be indicative of illegal activity such as money laundering or financial crime.    |\n| [**Wallet and Entity Screening**](#tag/Screening)        | Wallet and Entity screening enable organizations to receive near real-time intelligence about risk indicators associated with specific cryptocurrency addresses and groups of addresses.                         |\n| [**Alert Management**](/#tag/Alerts)                     | Alert Management allows users of the TRM API to obtain information on alerts triggered within a user's environment. Users can also edit the status and information associated with alerts in their organization. |\n| [**Rule Management**](/#tag/Rules)                       | Rules Management allows users of the TRM API to obtain details on single or multiple rules within a user's environment.                                                                                          |\n| [**Metadata and Informational**](/#tag/Supported-Assets) | TRM maintains informational APIs to allows customers to look up assets available to the Transaction Monitoring API.                                                                                              |\n"
    },
    {
      "name": "Guides",
      "description": "A set of guides to help integration the TRM API into your workflow."
    },
    {
      "name": "Authentication",
      "description": "Authentication is done via the API key, which you can find in your [Organization Settings](https://my.trmlabs.com/settings/api-key).\n\nRequests are authenticated using [HTTP Basic Auth](https://en.wikipedia.org/wiki/Basic_access_authentication). Users can authenticate to the API by providing an API key as both the basic auth username and password. This schema is shown in the sample below:\n\n```\nresponse = requests.get(url, params=query, auth=('<YOUR_API_KEY>','<YOUR_API_KEY>'))\n```\n\nUsers in TRM can create an API key by navigating to **Settings > API Keys > Generate API Key**. Users can also deactivate and rotate API keys on this page.\n"
    },
    {
      "name": "Supported Asset List",
      "description": "See below for the list of the most popular assets supported by TRM. If you do not see your asset here, please email us at <support@trmlabs.com> with a request.\n\n### Assets\n\n| Asset Name                                | TRM Identifier                         | Supported Blockchains                                                                                                         |\n| ----------------------------------------- | -------------------------------------- | ----------------------------------------------------------------------------------------------------------------------------- |\n| Aave                                      | `aave`                                 | ethereum, fantom, polygon                                                                                                     |\n| AAVE Wrapped ETH                          | `aave_wrapped_eth`                     | ethereum                                                                                                                      |\n| Aavegotchi                                | `aavegotchi`                           | ethereum                                                                                                                      |\n| The Abyss                                 | `abyss_finance`                        | ethereum                                                                                                                      |\n| TRONAce                                   | `ace`                                  | tron                                                                                                                          |\n| Cardano                                   | `ada`                                  | cardano                                                                                                                       |\n| Adventure Gold                            | `adventure_gold`                       | ethereum                                                                                                                      |\n| Aeternity                                 | `ae`                                   | ethereum                                                                                                                      |\n| Aergo                                     | `aergo`                                | ethereum                                                                                                                      |\n| Aeth                                      | `aeth`                                 | ethereum                                                                                                                      |\n| agEUR                                     | `ageur`                                | ethereum                                                                                                                      |\n| Agi                                       | `agi`                                  | ethereum                                                                                                                      |\n| AidCoin                                   | `aidcoin`                              | ethereum                                                                                                                      |\n| AIOZ Network                              | `aioz_network`                         | ethereum                                                                                                                      |\n| AjnaToken                                 | `ajna_token`                           | ethereum                                                                                                                      |\n| Akropolis                                 | `akropolis`                            | ethereum                                                                                                                      |\n| Alchemix                                  | `alchemix`                             | ethereum                                                                                                                      |\n| Alchemix USD                              | `alchemix_usd`                         | ethereum                                                                                                                      |\n| Alchemy Pay                               | `alchemy_pay`                          | ethereum                                                                                                                      |\n| Aleph                                     | `aleph`                                | ethereum                                                                                                                      |\n| Algo                                      | `algo`                                 | algorand                                                                                                                      |\n| Alien Worlds                              | `alien_worlds`                         | ethereum                                                                                                                      |\n| Alien Worlds Trilium                      | `alien_worlds_trilium`                 | binance_smart_chain                                                                                                           |\n| Alink                                     | `alink`                                | ethereum                                                                                                                      |\n| ALPHA Token                               | `alpha_finance`                        | binance_smart_chain, ethereum                                                                                                 |\n| Alpha5                                    | `alpha_five`                           | ethereum                                                                                                                      |\n| Alpine Fan Token                          | `alpine_fan_token`                     | binance_smart_chain                                                                                                           |\n| Altered State Machine Utility Token       | `altered_state_machine_token`          | ethereum                                                                                                                      |\n| Ambire AdEx                               | `ambire_adex`                          | binance_smart_chain, ethereum                                                                                                 |\n| Amp                                       | `amp`                                  | ethereum                                                                                                                      |\n| Ampleforth                                | `ampl`                                 | ethereum                                                                                                                      |\n| Ampleforth Governance                     | `ampleforth_governance_token`          | ethereum                                                                                                                      |\n| Anchor Protocol                           | `anchor_protocol`                      | ethereum                                                                                                                      |\n| Ancient8 Token                            | `ancient_8`                            | ethereum                                                                                                                      |\n| Angle                                     | `angle_protocol`                       | ethereum                                                                                                                      |\n| Ankr Network Token                        | `ankr`                                 | binance_smart_chain, ethereum                                                                                                 |\n| Aragon                                    | `ant`                                  | ethereum                                                                                                                      |\n| Aurora                                    | `aoa`                                  | ethereum                                                                                                                      |\n| ApeCoin                                   | `apecoin`                              | ethereum                                                                                                                      |\n| APENFT Token                              | `apenft_token`                         | ethereum, tron                                                                                                                |\n| API3                                      | `api3`                                 | ethereum                                                                                                                      |\n| Apricot                                   | `apricot`                              | solana                                                                                                                        |\n| Arbitrum                                  | `arbitrum`                             | ethereum                                                                                                                      |\n| Arcoin                                    | `arca`                                 | ethereum                                                                                                                      |\n| ArdCoin                                   | `ardcoin`                              | ethereum                                                                                                                      |\n| Ariadne                                   | `ariadne`                              | ethereum                                                                                                                      |\n| ARPA Chain                                | `arpa_chain`                           | ethereum, polygon                                                                                                             |\n| Art Blocks                                | `artblocks`                            | ethereum                                                                                                                      |\n| AscendEx Token                            | `asd`                                  | ethereum                                                                                                                      |\n| Astra Protocol                            | `astra_protocol_2`                     | ethereum                                                                                                                      |\n| Atom                                      | `atom`                                 | binance_smart_chain, cosmos                                                                                                   |\n| Atonomi                                   | `atonomi`                              | ethereum                                                                                                                      |\n| Africa Trading Chain                      | `att`                                  | tron                                                                                                                          |\n| Aave Interest Bearing TUSD                | `atusd`                                | ethereum                                                                                                                      |\n| Auctus                                    | `auctus`                               | binance_smart_chain, ethereum                                                                                                 |\n| Audius                                    | `audius`                               | ethereum, solana                                                                                                              |\n| Etoro AUD                                 | `audx`                                 | ethereum                                                                                                                      |\n| Aurora Token                              | `aurora_token`                         | ethereum                                                                                                                      |\n| Aurory                                    | `aurory`                               | solana                                                                                                                        |\n| Ausdc                                     | `ausdc`                                | ethereum                                                                                                                      |\n| Australian Dollar Token                   | `australian_dollar_token`              | ethereum                                                                                                                      |\n| Auto                                      | `auto`                                 | binance_smart_chain                                                                                                           |\n| Autoglyphs                                | `autoglyphs`                           | ethereum                                                                                                                      |\n| Automata Network                          | `automata_network`                     | binance_smart_chain, ethereum, polygon                                                                                        |\n| Autonio                                   | `autonio`                              | ethereum                                                                                                                      |\n| Avalanche                                 | `avax`                                 | avalanche_c_chain                                                                                                             |\n| Avocado DAO Token                         | `avocado_dao_token`                    | ethereum                                                                                                                      |\n| Axelar                                    | `axelar`                               | binance_smart_chain, ethereum, polygon                                                                                        |\n| Axie Infinity                             | `axie_infinity`                        | ethereum                                                                                                                      |\n| aXpire                                    | `axpr`                                 | ethereum                                                                                                                      |\n| Azuki                                     | `azuki`                                | ethereum                                                                                                                      |\n| B21                                       | `b21`                                  | binance_smart_chain, ethereum                                                                                                 |\n| Badger Dao                                | `badger_dao`                           | ethereum                                                                                                                      |\n| BakeryToken                               | `bake`                                 | binance_smart_chain                                                                                                           |\n| Balancer                                  | `bal`                                  | arbitrum, ethereum, polygon                                                                                                   |\n| Band                                      | `band`                                 | binance_smart_chain, ethereum, fantom                                                                                         |\n| Banyan Network                            | `banyan_network`                       | ethereum                                                                                                                      |\n| Bao Finance                               | `bao_finance`                          | ethereum                                                                                                                      |\n| BarnBridge                                | `barnbridge`                           | ethereum                                                                                                                      |\n| Basic Attention Token                     | `bat`                                  | binance_smart_chain, ethereum                                                                                                 |\n| Bat Finance                               | `bat_finance`                          | binance_smart_chain                                                                                                           |\n| Bitcoin Cash                              | `bch`                                  | bitcoin_cash                                                                                                                  |\n| Beefy Finance                             | `beefy_finance`                        | binance_smart_chain                                                                                                           |\n| BENQI                                     | `benqi`                                | avalanche_c_chain                                                                                                             |\n| Berry                                     | `berry`                                | ethereum                                                                                                                      |\n| Beta Finance                              | `beta_finance`                         | ethereum                                                                                                                      |\n| Betu                                      | `betu`                                 | binance_smart_chain                                                                                                           |\n| Biconomy                                  | `biconomy`                             | ethereum                                                                                                                      |\n| BiFi                                      | `bifi`                                 | ethereum                                                                                                                      |\n| Bifrost                                   | `bifrost`                              | ethereum                                                                                                                      |\n| Big Data Protocol                         | `big_data_protocol`                    | ethereum                                                                                                                      |\n| Binance ETH staking                       | `binance_eth`                          | binance_smart_chain                                                                                                           |\n| Binance Peg Aave                          | `binance_peg_aave`                     | binance_smart_chain                                                                                                           |\n| Binance-Peg Cardano                       | `binance_peg_ada`                      | binance, binance_smart_chain                                                                                                  |\n| Binance-Peg Aelf                          | `binance_peg_aelf`                     | binance_smart_chain                                                                                                           |\n| Binance-Peg AIOZ Network                  | `binance_peg_aioz_network`             | binance_smart_chain                                                                                                           |\n| Binance-Peg Alchemy Pay                   | `binance_peg_alchemy_pay`              | binance_smart_chain                                                                                                           |\n| Binance-Peg APENFT Token                  | `binance_peg_apenft_token`             | binance_smart_chain                                                                                                           |\n| Binance-Peg ARPA Chain                    | `binance_peg_arpa_chain`               | binance_smart_chain                                                                                                           |\n| Binance-Peg Avalanche Token               | `binance_peg_avalanche_token`          | binance_smart_chain                                                                                                           |\n| Binance Peg Axie Infinity                 | `binance_peg_axie_infinity`            | binance_smart_chain                                                                                                           |\n| Binance-Peg Balancer                      | `binance_peg_balancer`                 | binance_smart_chain                                                                                                           |\n| Binance-Peg Bancor Network Token          | `binance_peg_bancor_network_token`     | binance_smart_chain                                                                                                           |\n| Binance-Peg Beta Finance                  | `binance_peg_beta_finance`             | binance_smart_chain                                                                                                           |\n| Binance-Peg Bitcoin Cash                  | `binance_peg_bitcoin_cash`             | binance_smart_chain                                                                                                           |\n| Binance-Peg Bittorrent                    | `binance_peg_bittorent`                | binance_smart_chain, tron                                                                                                     |\n| Binance-Peg CEEK Smart VR                 | `binance_peg_ceek`                     | binance_smart_chain                                                                                                           |\n| Binance-Peg Celer Network                 | `binance_peg_celer_network`            | binance_smart_chain                                                                                                           |\n| Binance-Peg Chain-2                       | `binance_peg_chain_2`                  | binance_smart_chain                                                                                                           |\n| Binance-Peg Coin98                        | `binance_peg_coin_98`                  | binance_smart_chain                                                                                                           |\n| Binance-Peg Cratos                        | `binance_peg_cratos`                   | binance_smart_chain                                                                                                           |\n| Binance-Peg DAO Maker                     | `binance_peg_dao_maker`                | binance_smart_chain                                                                                                           |\n| Binance-Peg Dark Token                    | `binance_peg_dark_token`               | binance_smart_chain                                                                                                           |\n| Binance-Peg DIA                           | `binance_peg_dia_data`                 | binance_smart_chain                                                                                                           |\n| Binance-Peg Dogecoin                      | `binance_peg_dogecoin`                 | binance_smart_chain                                                                                                           |\n| Binance-Peg Dusk Network                  | `binance_peg_dusk_network`             | binance_smart_chain                                                                                                           |\n| Binance-Peg Dvision Network               | `binance_peg_dvision_network`          | binance_smart_chain                                                                                                           |\n| Binance-Peg eCash Token                   | `binance_peg_ecash_token`              | binance_smart_chain                                                                                                           |\n| Binance-Peg Envoy                         | `binance_peg_envoy_network`            | binance_smart_chain                                                                                                           |\n| Binance-Peg EOS                           | `binance_peg_eos`                      | binance_smart_chain                                                                                                           |\n| Binance-Peg ERC20                         | `binance_peg_erc20`                    | binance_smart_chain                                                                                                           |\n| Binance-Peg Ether                         | `binance_peg_eth`                      | binance, binance_smart_chain                                                                                                  |\n| Binance-Peg Everscale                     | `binance_peg_everscale`                | binance_smart_chain                                                                                                           |\n| Binance-Peg Fetch.ai                      | `binance_peg_fetch_ai`                 | binance_smart_chain                                                                                                           |\n| Binance-Peg Filecoin                      | `binance_peg_fil`                      | binance_smart_chain                                                                                                           |\n| Binance-Peg Firo Token                    | `binance_peg_firo_token`               | ethereum                                                                                                                      |\n| Binance-Peg Floki Inu                     | `binance_peg_floki_inu`                | binance_smart_chain                                                                                                           |\n| Binance Peg Flow                          | `binance_peg_flow`                     | binance_smart_chain                                                                                                           |\n| Binance-Peg Fodl Finance                  | `binance_peg_fodl_finance`             | binance_smart_chain                                                                                                           |\n| Binance-Peg Fuse                          | `binance_peg_fuse_network_token`       | binance_smart_chain                                                                                                           |\n| Binance-Peg Highstreet                    | `binance_peg_highstreet`               | binance_smart_chain                                                                                                           |\n| Binance-Peg Illuvium                      | `binance_peg_illuvium`                 | binance_smart_chain                                                                                                           |\n| Binance Peg Injective Protocol            | `binance_peg_injective_protocol_token` | binance_smart_chain                                                                                                           |\n| Binance-Peg inSure DeFi                   | `binance_peg_insure`                   | binance_smart_chain                                                                                                           |\n| Binance-Peg Kirobo                        | `binance_peg_kirobo`                   | binance_smart_chain                                                                                                           |\n| Binance-Peg Kusama                        | `binance_peg_kusama`                   | binance_smart_chain                                                                                                           |\n| Binance Peg Kyber Network Crystal         | `binance_peg_kyber_network_crystal`    | binance_smart_chain                                                                                                           |\n| Binance-Peg LABEL Foundation              | `binance_peg_label_foundation`         | binance_smart_chain                                                                                                           |\n| Binance-Peg Linear                        | `binance_peg_linear`                   | binance_smart_chain                                                                                                           |\n| Binance-Peg Litecoin                      | `binance_peg_litecoin`                 | binance, binance_smart_chain                                                                                                  |\n| Binance-Peg Terra Classic (Wormhole)      | `binance_peg_luna_wormhole`            | binance_smart_chain                                                                                                           |\n| Binance-Peg Magic Internet Money          | `binance_peg_magic_internet_money`     | binance_smart_chain                                                                                                           |\n| Binance-Peg MAP Protocol                  | `binance_peg_map_protocol`             | ethereum                                                                                                                      |\n| Binance-Peg Marlin POND                   | `binance_peg_marlin_pond`              | binance_smart_chain                                                                                                           |\n| Binance-Peg Mass Vehicle Ledger           | `binance_peg_mass_vehicle_ledger`      | binance_smart_chain                                                                                                           |\n| Binance-Peg Measurable Data               | `binance_peg_measurable_data_token`    | binance_smart_chain                                                                                                           |\n| Binance-Peg Metis                         | `binance_peg_metis_token`              | binance_smart_chain                                                                                                           |\n| Binance Peg Mines of Dalarnia             | `binance_peg_mines_of_dalarnia`        | binance_smart_chain                                                                                                           |\n| Binance-Peg Multichain                    | `binance_peg_multichain`               | binance_smart_chain                                                                                                           |\n| Binance-Peg Nuls Token                    | `binance_peg_nuls_token`               | binance_smart_chain                                                                                                           |\n| Binance-Peg Polkadot                      | `binance_peg_polkadot`                 | binance_smart_chain                                                                                                           |\n| Binance-Peg Project Galaxy                | `binance_peg_project_galaxy`           | binance_smart_chain                                                                                                           |\n| Binance Peg Shiba Inu                     | `binance_peg_shiba_inu`                | binance_smart_chain                                                                                                           |\n| Binance Peg Smooth Love Potion            | `binance_peg_smooth_love_potion`       | binance_smart_chain                                                                                                           |\n| Binance-Peg SPACE ID                      | `binance_peg_space_id`                 | binance_smart_chain                                                                                                           |\n| Binance Peg Stargate Finance              | `binance_peg_stargate_finance`         | binance_smart_chain                                                                                                           |\n| Binance-Peg Stellar Lumens                | `binance_peg_stellar_lumens`           | binance_smart_chain                                                                                                           |\n| Binance-Peg STEPN                         | `binance_peg_stepn`                    | binance_smart_chain                                                                                                           |\n| Binance-Peg Sun Token                     | `binance_peg_sun_token`                | binance_smart_chain                                                                                                           |\n| Binance Peg Sushi                         | `binance_peg_sushi`                    | binance_smart_chain                                                                                                           |\n| Binance-Peg Synthetix Network Token       | `binance_peg_synthetix_network_token`  | binance_smart_chain                                                                                                           |\n| Binance-Peg TON Coin                      | `binance_peg_toncoin`                  | binance_smart_chain                                                                                                           |\n| Binance-Peg TornadoCash                   | `binance_peg_tornado_cash`             | binance_smart_chain                                                                                                           |\n| Binance-Peg TRON                          | `binance_peg_tron`                     | binance_smart_chain                                                                                                           |\n| Binance-Peg TrueUSD Token                 | `binance_peg_trueusd_token`            | binance_smart_chain                                                                                                           |\n| Unifi Protocol DAO                        | `binance_peg_unifi_protocol_dao`       | binance_smart_chain                                                                                                           |\n| Binance-Peg VeChain                       | `binance_peg_vechain`                  | binance_smart_chain                                                                                                           |\n| Binance-Peg Velas                         | `binance_peg_velas`                    | binance_smart_chain                                                                                                           |\n| Binance Peg Vite Token                    | `binance_peg_vite_token`               | binance_smart_chain                                                                                                           |\n| Binance-Peg Waves                         | `binance_peg_waves`                    | binance_smart_chain                                                                                                           |\n| Binance-Peg WIKI.IQ                       | `binance_peg_wiki_iq`                  | binance_smart_chain                                                                                                           |\n| Binance-Peg Xido Finance                  | `binance_peg_xido_finance`             | binance_smart_chain                                                                                                           |\n| Binance-Peg XRP                           | `binance_peg_xrp`                      | binance_smart_chain                                                                                                           |\n| Flux                                      | `binance_peg_zelcash`                  | binance_smart_chain                                                                                                           |\n| BinaryX                                   | `binaryx`                              | binance_smart_chain                                                                                                           |\n| Biswap                                    | `biswap`                               | binance_smart_chain                                                                                                           |\n| Bitcarbon Coin                            | `bitcarbon_coin`                       | ethereum                                                                                                                      |\n| BitDAO                                    | `bitdao`                               | ethereum                                                                                                                      |\n| Bitget Token                              | `bitget_token`                         | ethereum                                                                                                                      |\n| BitTorrent                                | `bittorent`                            | binance_smart_chain, ethereum, tron                                                                                           |\n| Bix                                       | `bix`                                  | ethereum                                                                                                                      |\n| BKEX Token                                | `bkex_token`                           | ethereum                                                                                                                      |\n| BlackPool Token                           | `blackpool_token`                      | ethereum                                                                                                                      |\n| BLOCKv                                    | `blockv`                               | ethereum                                                                                                                      |\n| Blox                                      | `blox`                                 | ethereum                                                                                                                      |\n| Blur                                      | `blur`                                 | ethereum                                                                                                                      |\n| Bluzelle                                  | `blz`                                  | binance_smart_chain, ethereum                                                                                                 |\n| Bnana                                     | `bnana`                                | ethereum                                                                                                                      |\n| Binance Coin                              | `bnb`                                  | binance, binance_smart_chain, ethereum                                                                                        |\n| Bnk                                       | `bnk`                                  | ethereum                                                                                                                      |\n| Bnkr                                      | `bnkr`                                 | tron                                                                                                                          |\n| BnkToTheFuture                            | `bnktothefuture`                       | ethereum                                                                                                                      |\n| Bancor                                    | `bnt`                                  | ethereum                                                                                                                      |\n| Boa                                       | `boa`                                  | ethereum                                                                                                                      |\n| Boba Token                                | `boba_token`                           | binance_smart_chain, ethereum                                                                                                 |\n| Bonfida                                   | `bonfida`                              | solana                                                                                                                        |\n| Bonk                                      | `bonk`                                 | solana                                                                                                                        |\n| Bored Ape Yacht Club                      | `bored_ape_yacht_club`                 | ethereum                                                                                                                      |\n| Boson Protocol                            | `boson_protocol`                       | ethereum                                                                                                                      |\n| Bounce (Auction)                          | `bounce`                               | ethereum                                                                                                                      |\n| BrainTrust                                | `brain_trust`                          | ethereum                                                                                                                      |\n| Brc                                       | `brc`                                  | ethereum                                                                                                                      |\n| BreederDAO                                | `breederdao`                           | ethereum                                                                                                                      |\n| Bridge Mutual                             | `bridge_mutual`                        | ethereum                                                                                                                      |\n| Bitcoin SV                                | `bsv`                                  | bitcoin_sv                                                                                                                    |\n| Bitcoin                                   | `btc`                                  | bitcoin                                                                                                                       |\n| Binance BTC                               | `btcb`                                 | binance, binance_smart_chain                                                                                                  |\n| BTEX Token                                | `btex_token`                           | ethereum                                                                                                                      |\n| Bytom                                     | `btm`                                  | bytom, ethereum                                                                                                               |\n| Btmx                                      | `btmx`                                 | ethereum                                                                                                                      |\n| BTSE Token                                | `btse_token`                           | ethereum                                                                                                                      |\n| Blocktrade                                | `btt`                                  | ethereum                                                                                                                      |\n| Btu                                       | `btu`                                  | ethereum                                                                                                                      |\n| Binance USD                               | `busd`                                 | binance, binance_smart_chain, ethereum, polygon                                                                               |\n| Binance USD Bridged                       | `busd_e`                               | avalanche_c_chain                                                                                                             |\n| Bzrx                                      | `bzrx`                                 | ethereum                                                                                                                      |\n| C20                                       | `c20`                                  | ethereum                                                                                                                      |\n| Etoro CAD                                 | `cadx`                                 | ethereum                                                                                                                      |\n| Pancakeswap Token                         | `cake`                                 | binance_smart_chain                                                                                                           |\n| CARD.STARTER                              | `card_starter`                         | ethereum                                                                                                                      |\n| Cartesi                                   | `cartesi`                              | binance_smart_chain, ethereum                                                                                                 |\n| Compound Dai                              | `cdai`                                 | ethereum                                                                                                                      |\n| CEEK Smart VR                             | `ceek`                                 | ethereum                                                                                                                      |\n| Celsius                                   | `cel`                                  | ethereum, fantom                                                                                                              |\n| Celo Brazilian Real                       | `celo_brazilian_real`                  | celo                                                                                                                          |\n| Celo Euro                                 | `celo_euro`                            | celo                                                                                                                          |\n| Celer Network                             | `celr`                                 | ethereum                                                                                                                      |\n| Cennz                                     | `cennz`                                | ethereum                                                                                                                      |\n| Ceramic Fire                              | `ceramic_fire`                         | ethereum                                                                                                                      |\n| CertiK                                    | `certik`                               | binance_smart_chain                                                                                                           |\n| Compound ETH                              | `ceth`                                 | ethereum                                                                                                                      |\n| Celo Gold                                 | `cgld`                                 | celo                                                                                                                          |\n| Chain-2                                   | `chain_2`                              | ethereum                                                                                                                      |\n| ChainLink                                 | `chainlink`                            | arbitrum, binance, binance_smart_chain, ethereum, fantom, polygon                                                             |\n| ChainLink Token                           | `chainlink_token`                      | polygon                                                                                                                       |\n| CHARLI3                                   | `charli3`                              | ethereum                                                                                                                      |\n| Etoro CHF                                 | `chfx`                                 | ethereum                                                                                                                      |\n| Chosenone                                 | `chosenone`                            | ethereum                                                                                                                      |\n| Chr                                       | `chr`                                  | ethereum                                                                                                                      |\n| Chromia                                   | `chromaway`                            | binance_smart_chain, ethereum                                                                                                 |\n| chrono.tech                               | `chronobank`                           | binance_smart_chain, ethereum                                                                                                 |\n| Chsb                                      | `chsb`                                 | ethereum                                                                                                                      |\n| Chz                                       | `chz`                                  | binance, ethereum                                                                                                             |\n| Cirus                                     | `cirus`                                | ethereum                                                                                                                      |\n| Clearpool                                 | `clearpool`                            | ethereum                                                                                                                      |\n| CloneX                                    | `clonex`                               | ethereum                                                                                                                      |\n| Clover                                    | `clover`                               | binance_smart_chain, ethereum                                                                                                 |\n| Cnd                                       | `cnd`                                  | ethereum                                                                                                                      |\n| Content Neutrality Network                | `cnn`                                  | ethereum                                                                                                                      |\n| Etoro CNY                                 | `cnyx`                                 | ethereum                                                                                                                      |\n| Code4rena                                 | `code4rena`                            | ethereum                                                                                                                      |\n| Coin98                                    | `coin_98`                              | ethereum, solana                                                                                                              |\n| Coinbase Wrapped Staked ETH               | `coinbase_wrapped_staked_eth`          | ethereum                                                                                                                      |\n| CoinEx                                    | `coinex_token`                         | ethereum                                                                                                                      |\n| Coinmetro                                 | `coinmetro`                            | ethereum                                                                                                                      |\n| Coinweb                                   | `coinweb`                              | ethereum                                                                                                                      |\n| Colony Network                            | `colony_network_token`                 | ethereum                                                                                                                      |\n| CommerceBlock                             | `commerceblock`                        | ethereum                                                                                                                      |\n| Communifty                                | `communifty`                           | ethereum                                                                                                                      |\n| Compound Governance                       | `comp`                                 | arbitrum, binance_smart_chain, ethereum                                                                                       |\n| Compound Augur                            | `compound_augur`                       | ethereum                                                                                                                      |\n| Compound Basic Attention Token            | `compound_basic_attention_token`       | ethereum                                                                                                                      |\n| Compound Collateral                       | `compound_collateral`                  | ethereum                                                                                                                      |\n| Compound Uniswap                          | `compound_uniswap`                     | ethereum                                                                                                                      |\n| Compound USDC V3                          | `compound_usdc_v3`                     | ethereum                                                                                                                      |\n| Compound Wrapped Bitcoin                  | `compound_wrapped_bitcoin`             | ethereum                                                                                                                      |\n| cWBTC                                     | `compound_wrapped_btc`                 | ethereum                                                                                                                      |\n| Conflux                                   | `conflux`                              | binance_smart_chain                                                                                                           |\n| ConstitutionDAO                           | `constitutiondao`                      | ethereum                                                                                                                      |\n| ContentBox                                | `contentbox`                           | ethereum                                                                                                                      |\n| Convergence                               | `convergence`                          | ethereum                                                                                                                      |\n| Convex CRV                                | `convex_crv`                           | ethereum                                                                                                                      |\n| Convex Finance                            | `convex_finance`                       | ethereum                                                                                                                      |\n| Cool Cats                                 | `cool_cats`                            | ethereum                                                                                                                      |\n| Cope                                      | `cope`                                 | solana                                                                                                                        |\n| Coreum                                    | `coreum`                               | ripple                                                                                                                        |\n| COTI                                      | `coti`                                 | binance_smart_chain, ethereum, solana                                                                                         |\n| Covalent                                  | `covalent`                             | ethereum                                                                                                                      |\n| Cover Protocol                            | `cover_protocol`                       | ethereum                                                                                                                      |\n| Crabada                                   | `crabada`                              | avalanche_c_chain                                                                                                             |\n| Cratos                                    | `cratos`                               | ethereum                                                                                                                      |\n| Cre                                       | `cre`                                  | ethereum                                                                                                                      |\n| Cream Finance                             | `cream_finance`                        | binance_smart_chain, ethereum                                                                                                 |\n| Creditcoin                                | `creditcoin_2`                         | ethereum                                                                                                                      |\n| Crete Token                               | `crete_token`                          | ethereum                                                                                                                      |\n| Crypto.com (CRO)                          | `cro`                                  | ethereum                                                                                                                      |\n| Crypterium                                | `crpt`                                 | ethereum                                                                                                                      |\n| Crust Network                             | `crust_network`                        | ethereum                                                                                                                      |\n| CryptoPunks                               | `cryptopunks`                          | ethereum                                                                                                                      |\n| Cryptotoadz                               | `cryptotoadz`                          | ethereum                                                                                                                      |\n| Compound Sai                              | `csai`                                 | ethereum                                                                                                                      |\n| Cudos                                     | `cudos`                                | ethereum                                                                                                                      |\n| Curve DAO Token                           | `curve_dao`                            | arbitrum, ethereum, fantom                                                                                                    |\n| Celo Dollar                               | `cusd`                                 | celo                                                                                                                          |\n| Compound USDC                             | `cusdc`                                | ethereum                                                                                                                      |\n| Compound USDT                             | `cusdt`                                | ethereum                                                                                                                      |\n| cVault.finance                            | `cvault_finance`                       | ethereum                                                                                                                      |\n| Civic                                     | `cvc`                                  | ethereum, solana                                                                                                              |\n| CyberKongz                                | `cyberkongz`                           | ethereum                                                                                                                      |\n| Czrx                                      | `czrx`                                 | ethereum                                                                                                                      |\n| Dai                                       | `dai`                                  | arbitrum, binance_smart_chain, ethereum, fantom, polygon                                                                      |\n| DAO Maker                                 | `dao_maker`                            | ethereum                                                                                                                      |\n| DAOFi                                     | `daofi`                                | ethereum                                                                                                                      |\n| Dash                                      | `dash`                                 | dash                                                                                                                          |\n| Streamr Datacoin                          | `data`                                 | ethereum                                                                                                                      |\n| DeRace                                    | `de_race`                              | ethereum                                                                                                                      |\n| Definitex                                 | `definitex`                            | ethereum                                                                                                                      |\n| DefiPulse                                 | `defipulse_index`                      | ethereum                                                                                                                      |\n| Dego Finance                              | `dego_finance`                         | binance_smart_chain, ethereum                                                                                                 |\n| Delta Exchange Token                      | `delta_exchange_token`                 | ethereum                                                                                                                      |\n| Dent                                      | `dent`                                 | ethereum                                                                                                                      |\n| Dether                                    | `dether`                               | ethereum                                                                                                                      |\n| DexLab                                    | `dexlab`                               | solana                                                                                                                        |\n| DFX Finance                               | `dfx_finance`                          | ethereum, polygon                                                                                                             |\n| Dgd                                       | `dgd`                                  | ethereum                                                                                                                      |\n| Dgtx                                      | `dgtx`                                 | ethereum                                                                                                                      |\n| DIA                                       | `dia_data`                             | ethereum                                                                                                                      |\n| DICE Token                                | `dice`                                 | tron                                                                                                                          |\n| DigiDaigaku                               | `digidaigaku`                          | ethereum                                                                                                                      |\n| DigitalBits                               | `digitalbits`                          | ethereum                                                                                                                      |\n| dKargo                                    | `dkargo`                               | ethereum                                                                                                                      |\n| Dmg                                       | `dmg`                                  | ethereum                                                                                                                      |\n| district0x                                | `dnt`                                  | ethereum                                                                                                                      |\n| DODO bird                                 | `dodo_bird`                            | binance_smart_chain, ethereum                                                                                                 |\n| Dogami                                    | `dogami`                               | tezos                                                                                                                         |\n| Dogecoin                                  | `doge`                                 | binance_smart_chain, dogecoin                                                                                                 |\n| Dogelon Mars                              | `dogelon_mars`                         | ethereum, polygon                                                                                                             |\n| Doodles                                   | `doodles`                              | ethereum                                                                                                                      |\n| Polkadot                                  | `dot`                                  | polkadot                                                                                                                      |\n| Dotori                                    | `dotori`                               | ethereum                                                                                                                      |\n| Drgn                                      | `drgn`                                 | ethereum                                                                                                                      |\n| Data                                      | `dta`                                  | ethereum                                                                                                                      |\n| Dusk                                      | `dusk`                                 | ethereum                                                                                                                      |\n| Dvision Network                           | `dvision_network`                      | ethereum                                                                                                                      |\n| Dx                                        | `dx`                                   | ethereum                                                                                                                      |\n| DYDX                                      | `dydx`                                 | ethereum                                                                                                                      |\n| EasyFi V2                                 | `easyfi`                               | binance_smart_chain, ethereum                                                                                                 |\n| Echelon Prime                             | `echelon_prime`                        | ethereum                                                                                                                      |\n| EcoFi                                     | `ecofi`                                | ethereum                                                                                                                      |\n| ECOMI                                     | `ecomi`                                | ethereum                                                                                                                      |\n| ECOx                                      | `ecox`                                 | ethereum                                                                                                                      |\n| EDEN                                      | `eden`                                 | ethereum                                                                                                                      |\n| Edge                                      | `edge`                                 | ethereum                                                                                                                      |\n| Effect Network                            | `effect_network`                       | ethereum                                                                                                                      |\n| Efinity                                   | `efinity`                              | ethereum                                                                                                                      |\n| EGLD                                      | `egld`                                 | binance_smart_chain, elrond                                                                                                   |\n| 888tron                                   | `eighteighteighttron`                  | tron                                                                                                                          |\n| Elastos                                   | `ela`                                  | elastos                                                                                                                       |\n| Aelf                                      | `elf`                                  | ethereum                                                                                                                      |\n| Elfi                                      | `elfi`                                 | ethereum                                                                                                                      |\n| Ellipsis                                  | `ellipsis`                             | binance_smart_chain                                                                                                           |\n| Empty Set Dollar                          | `empty_set_dollar`                     | ethereum                                                                                                                      |\n| Energy Web Token                          | `energy_web_token`                     | ethereum                                                                                                                      |\n| Enigma                                    | `eng`                                  | ethereum                                                                                                                      |\n| Enjin Coin                                | `enj`                                  | ethereum                                                                                                                      |\n| Envoy                                     | `envoy_network`                        | ethereum                                                                                                                      |\n| Equinox                                   | `equinox`                              | ethereum                                                                                                                      |\n| ERC20                                     | `erc20`                                | ethereum                                                                                                                      |\n| Escoin                                    | `escoin_token`                         | ethereum                                                                                                                      |\n| Essentia                                  | `essentia`                             | ethereum                                                                                                                      |\n| Ethereum Classic                          | `etc`                                  | binance_smart_chain, ethereum_classic                                                                                         |\n| Ether                                     | `eth`                                  | arbitrum, ethereum                                                                                                            |\n| Ethereum Name Service                     | `ethereum_name_service`                | ethereum                                                                                                                      |\n| Ethereum Push Notification Service - EPNS | `ethereum_push_notification_service`   | ethereum                                                                                                                      |\n| Ethernity Chain                           | `ethernity_chain`                      | ethereum                                                                                                                      |\n| Etherparty                                | `etherparty`                           | ethereum                                                                                                                      |\n| Voyager VGX                               | `ethos`                                | ethereum                                                                                                                      |\n| EulerBeats                                | `euler_beats`                          | ethereum                                                                                                                      |\n| Euler Finance                             | `euler_finance`                        | ethereum                                                                                                                      |\n| Moneyfold Euro                            | `eur_moneyfold`                        | ethereum                                                                                                                      |\n| Euro Coin                                 | `euro_coin`                            | avalanche_c_chain, ethereum                                                                                                   |\n| Euro Tether                               | `euro_tether`                          | ethereum                                                                                                                      |\n| Stasis Euro                               | `eurs`                                 | ethereum                                                                                                                      |\n| Etoro EURS                                | `eurx`                                 | ethereum                                                                                                                      |\n| Everscale                                 | `everscale`                            | ethereum                                                                                                                      |\n| EXMO Coin                                 | `exmo_coin`                            | ethereum                                                                                                                      |\n| Exodus Movement                           | `exodus_movement`                      | ethereum                                                                                                                      |\n| FC Porto                                  | `fc_porto`                             | binance_smart_chain                                                                                                           |\n| TRIBE                                     | `fei_tribe`                            | ethereum                                                                                                                      |\n| Fei USD                                   | `fei_usd`                              | ethereum                                                                                                                      |\n| Fetch.ai                                  | `fet`                                  | ethereum                                                                                                                      |\n| FIL                                       | `fil`                                  | filecoin                                                                                                                      |\n| FingerPrints DAO                          | `fingerprints_dao`                     | ethereum                                                                                                                      |\n| Fitmin                                    | `fitmin`                               | binance_smart_chain                                                                                                           |\n| FLEX Coin                                 | `flex_coin`                            | ethereum                                                                                                                      |\n| Flexacoin                                 | `flexacoin`                            | ethereum                                                                                                                      |\n| Float Protocol                            | `float_protocol`                       | ethereum                                                                                                                      |\n| Floki Inu                                 | `floki_inu`                            | ethereum                                                                                                                      |\n| Flow Protocol                             | `flow_protocol`                        | ethereum                                                                                                                      |\n| Datamine FLUX                             | `flux`                                 | ethereum                                                                                                                      |\n| Flux Protocol                             | `flux_protocol`                        | ethereum                                                                                                                      |\n| FlyCoin                                   | `flycoin`                              | ethereum                                                                                                                      |\n| FOAM                                      | `foam`                                 | ethereum                                                                                                                      |\n| Fodl Finance                              | `fodl_finance`                         | ethereum, polygon                                                                                                             |\n| Forta                                     | `forta`                                | ethereum                                                                                                                      |\n| Fortress DAO                              | `fortress_dao`                         | avalanche_c_chain                                                                                                             |\n| 4ART Coin                                 | `fourartcoin`                          | ethereum                                                                                                                      |\n| Fox Finance                               | `fox_finance`                          | binance_smart_chain                                                                                                           |\n| Frax Protocol                             | `frax_protocol`                        | arbitrum, binance_smart_chain, ethereum, fantom, polygon, solana                                                              |\n| Frax Share                                | `frax_share`                           | arbitrum, binance_smart_chain, ethereum, fantom, polygon, solana                                                              |\n| Freaky Flowers                            | `freaky_flowers`                       | ethereum                                                                                                                      |\n| Friends With Benefits Pro                 | `friends_with_benefits_pro`            | ethereum                                                                                                                      |\n| Frontier                                  | `frontier_token`                       | binance_smart_chain, ethereum, solana                                                                                         |\n| Fsn                                       | `fsn`                                  | ethereum                                                                                                                      |\n| Ftm                                       | `ftm`                                  | binance_smart_chain, ethereum, fantom                                                                                         |\n| FarmaTrust                                | `ftt`                                  | ethereum                                                                                                                      |\n| FTX Token                                 | `ftx_token`                            | ethereum, solana                                                                                                              |\n| Fuel                                      | `fuel`                                 | ethereum                                                                                                                      |\n| Funfair                                   | `funfair`                              | ethereum                                                                                                                      |\n| Fuse                                      | `fuse_network_token`                   | ethereum, polygon                                                                                                             |\n| Future Swap                               | `futureswap`                           | ethereum                                                                                                                      |\n| Function X                                | `fx_coin`                              | ethereum                                                                                                                      |\n| Gala                                      | `gala`                                 | binance_smart_chain, ethereum                                                                                                 |\n| gALGO                                     | `galgo`                                | algorand                                                                                                                      |\n| Games For A Living                        | `games_for_a_living`                   | binance_smart_chain                                                                                                           |\n| Gari                                      | `gari`                                 | solana                                                                                                                        |\n| Gate                                      | `gate`                                 | ethereum                                                                                                                      |\n| Moneyfold Pound Sterling                  | `gbp_moneyfold`                        | ethereum                                                                                                                      |\n| Etoro GBP                                 | `gbpx`                                 | ethereum                                                                                                                      |\n| Gelato                                    | `gelato`                               | ethereum, polygon                                                                                                             |\n| Genopets                                  | `genopets`                             | binance_smart_chain, solana                                                                                                   |\n| Geojam                                    | `geojam`                               | ethereum                                                                                                                      |\n| GeroWallet                                | `gerowallet`                           | ethereum                                                                                                                      |\n| Gitcoin                                   | `gitcoin`                              | ethereum                                                                                                                      |\n| GIX Coin                                  | `gix_coin`                             | ethereum                                                                                                                      |\n| Etoro GLD                                 | `gldx`                                 | ethereum                                                                                                                      |\n| Globe Derivative Exchange                 | `globe_derivative_exchange`            | ethereum                                                                                                                      |\n| GMX                                       | `gmx`                                  | arbitrum, avalanc
[...]
