*.csv
!*risk_engine**.csv
*-reject.json*
*-accept.json

dex-traders-by-vol-24h-10-14-2023-top-500.json
gmx-1m-gain-notional-10-2023-top-500.json
nft-traders-by-vol-oct-22-oct-23-top-700.json
tornado-no-anon-mining-top-1000.json